/* ALL */
* {
  margin: 0;
  padding: 0;
  color: #424242 !important;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  background-color: #f5f5f5 !important;
  position: relative;
}

.strong {
  font-weight: bold;
}

.divider {
  padding: 50px;
}
@media screen and (min-width: 768px) {
  .divider {
    padding: 100px;
  }
}

h2 {
  position: relative;
  padding-bottom: 4px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
}
h2::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  background-color: #CECECE;
  height: 2px;
  bottom: 0;
}
h2::after {
  display: block;
  position: absolute;
  content: "";
  width: 40%;
  background-color: #0275d8;
  height: 2px;
  bottom: 0;
}

/* HEADER */
.navbar {
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
}
.navbar .nav-item a {
  transition: all 0.5s ease-in-out;
}
.navbar .nav-item a.active {
  background: #0275d8;
  color: #FFF !important;
}

.text-logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.text-logo a:hover {
  text-decoration: none;
  color: inherit;
}
.text-logo a .logo-symbol {
  border-radius: 50%;
  background: #0275d8;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  text-align: center;
  color: white !important;
  font-weight: bold;
}
.text-logo a .logo-text {
  font-weight: bold;
  font-size: 20px;
}
.text-logo a .logo-lastname {
  font-weight: 400;
}

.navbar-nav .nav-item {
  font-size: 18px;
}

/* main-content */
#main-content {
  margin-top: 100px;
}
@media screen and (min-width: 768px) {
  #main-content {
    margin-top: 200px;
  }
}
#main-content #img_me {
  border-radius: 50%;
  border: #FFF 10px solid;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.05);
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  #main-content #img_me {
    width: 350px;
    height: 350px;
  }
}

#main-names {
  font-weight: bold;
  display: inline-block;
}
#main-names #lastname {
  font-weight: 400;
}

/* skills */
.skills-title {
  font-size: 20px;
}

.skill {
  transition: transform 0.5s ease;
}
.skill:hover {
  transform: scale(1.1);
}

/* professional experiences */
.exp-pro_card {
  transition: all 0.5s ease;
}
.exp-pro_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}

/* timeline */
.timeline {
  border-left: 1px solid #CECECE;
  padding: 30px 0;
}
@media screen and (min-width: 768px) {
  .timeline {
    margin: 0 100px;
  }
}
.timeline-item {
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}
.timeline-item::before {
  background-color: #0275d8;
  position: absolute;
  top: 0;
  border: 5px solid #f5f5f5;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  left: -9px;
  box-sizing: content-box;
  content: "";
}
.timeline-block {
  transition: all 0.5s ease;
}
.timeline-block:hover {
  transform: translateX(50px);
}

/* portfolio */
#portfolio .portfolio-block .portfolio-image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  transition: all 0.5s ease;
}
#portfolio .portfolio-block .portfolio-image:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
