@charset "UTF-8";
/* ALL */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 75px;
  background: #096eff;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 22px;
}
header #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: auto 15px;
  background: #0b386b;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  border-radius: 0px 10px 10px 10px;
}

body {
  background: #0f2937;
  color: #fff;
}

#firstname {
  font-weight: bold;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 100px;
}

input,
textarea {
  outline: none;
}

.separation-line {
  height: 1px;
  width: 70%;
  background: #fff;
  margin: 0 auto;
}

/* Burger-Menu */
.burger-menu {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  right: 20px;
  top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 5;
}
@media screen and (min-width: 1500px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu-line__1, .burger-menu-line__2, .burger-menu-line__3 {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
}

input[type=checkbox] {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  right: 20px;
  top: 12px;
}
@media screen and (min-width: 1500px) {
  input[type=checkbox] {
    display: none;
  }
}
input[type=checkbox]:checked + .burger-menu .burger-menu-line__1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}
input[type=checkbox]:checked + .burger-menu .burger-menu-line__2 {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
input[type=checkbox]:checked + .burger-menu .burger-menu-line__3 {
  transform: rotate(45deg) translate(-8px, -9px);
}
input[type=checkbox]:checked ~ #navigation-bar {
  right: 0;
}

/* Navigation Bar */
#navigation-bar {
  position: fixed;
  width: 100%;
  right: -100%;
  top: 75px;
  height: calc(100vh - 75px);
  transition: all 0.3s ease-in-out;
  background: #096eff;
  z-index: 6;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #navigation-bar {
    top: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    position: fixed;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
}
#navigation-bar .links-list {
  list-style: none;
  margin-top: 20%;
}
@media screen and (min-width: 768px) {
  #navigation-bar .links-list {
    margin-top: 10%;
  }
}
@media screen and (min-width: 1500px) {
  #navigation-bar .links-list {
    margin-top: 0;
    height: 75px;
    width: 80%;
    display: flex;
    align-items: center;
  }
}
#navigation-bar .links-list a {
  text-decoration: none;
  color: #fff;
}
#navigation-bar .links-list-link {
  width: 50%;
  height: 5vh;
  color: #fff;
  margin: 15px auto;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
#navigation-bar .separation-line {
  width: 50%;
  margin: 50px auto;
}
@media screen and (min-width: 768px) {
  #navigation-bar .separation-line {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  #navigation-bar .separation-line {
    width: 20%;
  }
}
@media screen and (min-width: 1500px) {
  #navigation-bar .separation-line {
    display: none;
  }
}
#navigation-bar #social-links {
  font-size: 40px;
}
@media screen and (min-width: 1500px) {
  #navigation-bar #social-links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#navigation-bar #social-links a {
  margin: 20px 10px;
}
#navigation-bar #social-links a i {
  color: #fff;
}
#navigation-bar #contact-link {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 2px 10px;
}
@media screen and (min-width: 1500px) {
  #navigation-bar #contact-link {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: 3px solid #fff;
  }
}

/* Home */
#home {
  height: 100vh;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-x: clip;
}
#home #informations #title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 20px;
}
#home #informations #subtitle {
  text-align: center;
  font-size: 32px;
}
#home #waves {
  position: absolute;
  left: -50%;
  top: -10%;
  z-index: -10;
}
@media screen and (min-width: 1200px) {
  #home #waves {
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  #home #waves {
    top: 0;
    left: 0;
    transform: scale(130%);
  }
}

#discover-button {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
}

/* Main */
#main {
  margin: 20% auto;
}
#main #profile {
  text-align: center;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1500px) {
  #main #profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#main #profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px solid #096eff;
  background: #0f2937;
}
#main #profile-picture_block {
  position: relative;
}
@media screen and (min-width: 1500px) {
  #main #profile-picture_block {
    margin-right: 10%;
  }
}
#main #profile-blob {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
}
#main #profile-informations {
  margin-top: 100px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  #main #profile-informations {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  #main #profile-informations {
    width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  #main #profile-informations {
    width: 40%;
  }
}
@media screen and (min-width: 1500px) {
  #main #profile-informations {
    width: 20%;
  }
}
#main #profile-informations #job {
  font-size: 14px;
  color: #096eff;
}
#main #profile-informations #title {
  margin: 10px auto 20px;
  font-size: 42px;
}
#main #profile-informations #description {
  text-align: justify;
  font-size: 20px;
}
#main #profile-buttons {
  margin: 30px auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #main #profile-buttons {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  #main #profile-buttons {
    width: 70%;
  }
}
#main #profile-buttons .btn {
  font-size: 22px;
  border-radius: 20px;
  padding: 0.7em 1.5em;
  margin: 15px auto;
}
#main #profile-buttons .btn a {
  text-decoration: none;
  color: #fff;
}
#main #profile-buttons .btn-download {
  background: #0b386b;
}
#main #profile-buttons .btn-look {
  background: #0065ff;
}
@media screen and (max-width: 1200px) {
  #main #profile-buttons .btn-look {
    display: none;
  }
}

/* Skills */
#skills {
  overflow-x: clip;
}
#skills-list {
  background: #0b1e28;
  padding-bottom: 150px;
}
@media screen and (min-width: 1500px) {
  #skills-list-line {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
#skills-list-line .icon {
  color: #0065ff;
}
@media screen and (max-width: 1500px) {
  #skills-list-line .icon {
    display: none;
  }
}
#skills .skills-waves {
  margin-bottom: -5%;
}
@media screen and (min-width: 768px) {
  #skills .skills-waves {
    margin-left: -10%;
    margin-bottom: -3%;
    transform: scale(140%);
  }
}
@media screen and (min-width: 1000px) {
  #skills .skills-waves {
    margin-left: 10%;
    margin-bottom: 5%;
    transform: scale(200%);
  }
}
@media screen and (min-width: 992px) {
  #skills .skills-waves {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1500px) {
  #skills .skills-waves {
    margin-left: 40%;
    transform: scale(300%);
  }
}
#skills .skills-waves_down {
  transform: rotate(180deg);
  margin-top: -5%;
}
@media screen and (min-width: 768px) {
  #skills .skills-waves_down {
    margin-top: -3%;
    transform: scale(140%) rotate(180deg);
  }
}
@media screen and (min-width: 1000px) {
  #skills .skills-waves_down {
    margin-top: 5%;
    transform: scale(200%) rotate(180deg);
    margin-left: 50%;
  }
}
@media screen and (min-width: 1500px) {
  #skills .skills-waves_down {
    margin-left: 70%;
    transform: scale(300%) rotate(180deg);
  }
}
#skills .skills-list_block {
  background: #0b386b;
  width: 80%;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 20px;
}
@media screen and (min-width: 992px) {
  #skills .skills-list_block {
    width: 60%;
    padding: 30px;
  }
}
@media screen and (min-width: 1500px) {
  #skills .skills-list_block {
    width: 40%;
    padding: 30px;
    margin: 50px 0;
  }
}
#skills .skills-list_block #title {
  font-size: 30px;
  font-weight: bold;
}
#skills .skills-list_block #description {
  margin: 10px auto;
  text-align: justify;
}
#skills .skills-list_skills {
  font-size: 24px;
  margin-top: 30px;
}
#skills .skills-list_skills ul li {
  list-style: none;
}
#skills .skills-list_skills ul li i {
  color: #0065ff;
  width: 30px;
  height: auto;
  margin: 10px 20px 10px 0;
}

/* proExp */
#proExp {
  position: relative;
  overflow-x: clip;
}
@media screen and (min-width: 1500px) {
  #proExp {
    margin: 200px auto;
  }
}
#proExp_blob {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
@media screen and (min-width: 1500px) {
  #proExp_blob {
    transform: scale(70%) translate(-70%, -60%);
  }
}
@media screen and (min-width: 1500px) {
  #proExp #proExps {
    display: flex;
    justify-content: center;
  }
}
#proExp #proExps .proExps_block {
  margin: 50px auto;
  background: #0b1e28;
  width: 80%;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  #proExp #proExps .proExps_block {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  #proExp #proExps .proExps_block {
    width: 50%;
  }
}
@media screen and (min-width: 1500px) {
  #proExp #proExps .proExps_block {
    width: 20%;
    margin: 50px 20px;
  }
}
#proExp #proExps .proExps_block i.fa-desktop,
#proExp #proExps .proExps_block i.fa-file-code,
#proExp #proExps .proExps_block i.fa-search {
  font-size: 64px;
  color: #0065ff;
}
#proExp #proExps .proExps_block-informations #date {
  margin: 30px 0 0 0;
}
#proExp #proExps .proExps_block-informations #date i {
  margin-right: 5px;
}
#proExp #proExps .proExps_block-informations #title {
  font-size: 30px;
  font-weight: bold;
}
#proExp #proExps .proExps_block-informations #description {
  text-align: justify;
  margin: 20px auto;
}
#proExp #proExps .proExps_block-informations #location {
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #proExp #proExps .proExps_block-informations #location {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
  }
}
#proExp #proExps .proExps_block-informations #location i {
  margin-right: 5px;
}

/* Formations */
#formations-list {
  border-left: 1px solid #fff;
  width: 90%;
  margin: 0 auto;
}
#formations-list_block {
  margin: 50px 0 50px 20px;
  border-radius: 20px;
  background: #0b1e28;
  padding: 30px;
  position: relative;
}
#formations-list_block:before {
  background-color: #0065ff;
  position: absolute;
  top: 10px;
  border: 5px solid #0f2937;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  left: -29px;
  box-sizing: content-box;
  content: "";
}
#formations-list_block #date i {
  margin-right: 5px;
}
#formations-list_block #title {
  font-size: 22px;
  font-weight: bold;
  color: #0065ff;
  margin: 5px auto;
}
#formations-list_block #mention {
  margin: 5px auto;
  color: #0065ff;
}
#formations-list_block #mention::before {
  content: "— ";
}
#formations-list_block #location {
  margin: 5px 0 30px 0;
}
#formations-list_block #location i {
  margin-right: 5px;
}
#formations-list_block #description {
  text-align: justify;
}
#formations-list_block #description ul li {
  list-style: none;
  margin: 10px auto;
}

/* Portfolio */
#portfolio {
  overflow: clip;
}
#portfolio .portfolio-waves svg {
  margin-bottom: -5%;
  transform: scaleX(-1);
}
@media screen and (min-width: 1000px) {
  #portfolio .portfolio-waves svg {
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 40%;
    transform: scale(250%);
  }
}
#portfolio .portfolio-list_block {
  width: 100%;
  text-align: center;
}
#portfolio .portfolio-list_block img {
  width: 90%;
  height: 250px;
  border-radius: 20px;
  border: 10px solid #0065ff;
  object-fit: cover;
  margin: 15px auto;
}
@media screen and (min-width: 768px) {
  #portfolio .portfolio-list_block img {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  #portfolio .portfolio-list_block img {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  #portfolio .portfolio-list_block img {
    width: 40%;
  }
}
#portfolio-list {
  background: #0b1e28;
  padding-bottom: 250px;
}

/* Contact */
#contact {
  margin-top: -250px;
  position: relative;
  overflow: clip;
}
#contact-list {
  background: #0065ff;
}
#contact-form {
  position: relative;
  z-index: 10;
}
#contact-form h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
#contact-form .form-group {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
}
@media screen and (min-width: 768px) {
  #contact-form .form-group {
    width: 60%;
  }
}
#contact-form .form-group #opt {
  font-size: 12px;
}
#contact-form .form-group input {
  height: 3vh;
  border: none;
  margin: 10px 0;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 5px;
}
#contact-form .form-group input:focus {
  border: 1px solid #fff;
  transition: 0.4s;
}
#contact-form .form-group textarea {
  border: none;
  margin: 10px 0;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 5px;
}
#contact-form .form-group textarea:focus {
  border: 1px solid #fff;
}
#contact-form .buttons {
  text-align: center;
}
#contact-form input[type=button] {
  border-radius: 10px;
  border: none;
  margin: 50px auto;
  padding: 0.7em 2.5em;
  font-size: 18px;
  background: #0b386b;
  color: #fff;
  font-weight: bold;
}
#contact .contact-waves {
  margin-bottom: -5%;
}
@media screen and (min-width: 768px) {
  #contact .contact-waves {
    margin-left: -10%;
    margin-bottom: -3%;
    transform: scale(140%);
  }
}
@media screen and (min-width: 1000px) {
  #contact .contact-waves {
    margin-bottom: 5%;
    margin-left: 0%;
    transform: scale(200%);
  }
}
@media screen and (min-width: 1000px) {
  #contact .contact-waves {
    margin-bottom: 5%;
    margin-left: 20%;
    transform: scale(200%);
  }
}
#contact-block {
  background: #0b1e28;
  margin: 100px auto;
  padding: 30px 10px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 600px) {
  #contact-block {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  #contact-block {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #contact-block {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  #contact-block {
    width: 40%;
  }
}
#contact-block .contact-group {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin: 30px auto;
}
#contact-block .contact-group i {
  color: #0065ff;
  background: #0b386b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-block .contact-group p {
  width: 70%;
  display: flex;
  align-items: center;
  word-break: break-word;
}

/* Footer */
#footer {
  text-align: center;
  position: relative;
  z-index: 1;
}
#footer i {
  color: #fff;
  margin: 20px 10px;
  font-size: 40px;
}
#footer-background svg {
  position: absolute;
  bottom: -130%;
  left: -100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  #footer-background svg {
    left: -50%;
  }
}
@media screen and (min-width: 1300px) {
  #footer-background svg {
    left: -20%;
    bottom: -200%;
  }
}

/*# sourceMappingURL=styles.css.map */
