/* ALL */
*{
    margin: 0;
    padding: 0;
    color: #424242 !important;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    background-color: #f5f5f5 !important;
}

.strong{
    font-weight: bold;
}

.divider{
    padding: 50px;
    @media screen and (min-width: 768px){
        padding: 100px;
    }
}

h2{
    position: relative;
    padding-bottom: 4px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);

    &::before{
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        background-color: #CECECE;
        height: 2px;
        bottom: 0;
    }

    &::after{
        display: block;
        position: absolute;
        content: '';
        width: 40%;
        background-color: #0275d8;
        height: 2px;
        bottom: 0;
    }
}

/* HEADER */
.navbar{
    -webkit-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.1);
}

.text-logo{
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;

        &:hover{
            text-decoration: none;
            color: inherit;
        }

        .logo{
            &-symbol{
                border-radius: 50%;
                background: #0275d8;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 35px;
                text-align: center;
                color: white !important;
                font-weight: bold;
            }

            &-text{
                font-weight: bold;
                font-size: 20px;
            }

            &-lastname{
                font-weight: 400;
            }
        }
    }
}

.navbar-nav{
    .nav{
        &-item{
            font-size: 18px;
        }
    }
}

/* main-content */
#main-content{
    margin-top: 100px;
    @media screen and (min-width: 768px){
        margin-top: 200px;    
    }

    #img_me{
        border-radius: 50%;
        border: #FFF 10px solid;
        -webkit-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.05); 
        box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.05);
        width: 300px;
        height: 300px;
        @media screen and (min-width: 768px) {
            width: 350px;
            height: 350px;
        }
    }
} 

#main-names{
    font-weight: bold;
    display: inline-block;

    #lastname{
        font-weight: 400;
    }
}

/* skills */ 
.skills-title{
    font-size: 20px;
}

.skill{
    transition: transform 0.5s ease;
    &:hover{
        transform: scale(1.1);
    }
}

/* professional experiences */
.exp-pro_card{
    transition: all 0.5s ease;
    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
    }
}