/* color */
$default-background-color: #579c87;
$default-font-color: #fdcc46;

/* icons */
$btn-block--1-icon-gradient-color: linear-gradient(90deg, rgba(240, 74, 94, 1) 0%, rgba(247, 143, 106, 1) 100%);

/* btn texts */
$btn-block--1-text: linear-gradient(90deg, rgba(240, 74, 94, 1) 0%, rgba(247, 143, 106, 1) 100%);
$btn-block--2-text: linear-gradient(90deg, rgba(216, 133, 46, 1) 0%, rgba(172, 107, 175, 1) 50%, rgba(144, 91, 253, 1) 100%);
$btn-block--3-text: linear-gradient(90deg, rgba(43, 88, 230, 1) 0%, rgba(27, 145, 250, 1) 100%);
$btn-block--4-text: linear-gradient(90deg, rgba(76, 159, 66, 1) 0%, rgba(191, 255, 126, 1) 100%);