* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../images/800px_COLOURBOX25038287.jpg);
  object-fit: contain;
  background-repeat: repeat;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 232px;
  position: relative;
}
@media screen and (max-width: 720px) {
  body {
    padding-bottom: 627px;
  }
}

.row {
  margin: auto 0 !important;
}

/* HEADER */
.image-banner {
  background-image: url(../images/teddy-bear_banner.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50%;
  filter: hue-rotate(135deg);
}
.image-banner #logo {
  filter: hue-rotate(-135deg);
}
@media screen and (max-width: 992px) {
  .image-banner #logo {
    display: none;
  }
}
.image-banner #header-line {
  filter: hue-rotate(-135deg);
}
@media screen and (max-width: 720px) {
  .image-banner {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .form-inline {
    display: none !important;
  }
}
.form-inline .form-control {
  width: 500px !important;
}

html {
  height: 100%;
}

/* FOOTER (ICONS) */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .footer-icons-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-icons-block .fa {
    margin-top: 15px;
  }
}
.footer-icons .fa {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  opacity: 0.8;
  border-radius: 50%;
  text-decoration: none;
  transition: all 1s ease;
}
.footer-icons .fa:hover {
  opacity: 1;
}
.footer-icons .fa-facebook {
  background: #3B5998;
  color: white;
  transition: all 1s ease;
}
.footer-icons .fa-facebook:hover {
  color: #3B5998;
  background: white;
}
.footer-icons .fa-twitter {
  background: #55ACEE;
  color: white;
  transition: all 1s ease;
}
.footer-icons .fa-twitter:hover {
  color: #55ACEE;
  background: white;
}
.footer-icons .fa-youtube-play {
  background: #bb0000;
  color: white;
  transition: all 1s ease;
}
.footer-icons .fa-youtube-play:hover {
  color: #bb0000;
  background: white;
}
.footer-icons .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: all 1s ease;
}
.footer-icons .fa-snapchat-ghost:hover {
  color: #fffc00;
  background: white;
}
.footer-icons .fa-linkedin {
  background: #007bb5;
  color: white;
  transition: all 1s ease;
}
.footer-icons .fa-linkedin:hover {
  color: #007bb5;
  background: white;
}

/* index.html PRODUCTS CARDS */
.product-card {
  transition: transform 0.5s ease;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card .card-img-top {
  object-fit: cover;
  height: 200px;
  border-radius: 2% 2% 0% 0%;
  transition: all 0.5s ease;
}
.product-card .card-img-top:hover {
  opacity: 0.7;
}
.product-card-body {
  border-radius: 0% 0% 2% 2%;
}

/* view.product.html PRODUCT CARD */
.productQuantityInput {
  text-align: center;
}

/* cart.html */
@media screen and (max-width: 600px) {
  .table-shopping-cart thead {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #display-cart tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#th-quantity, #th-price {
  width: 120px;
}

#th-void {
  width: 200px;
}

/*# sourceMappingURL=styles.css.map */
