/* HEADER */
header {
    background-color: $default-background-color;

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;

        .title {
            color: #fdcb46;
            text-decoration: none;
            font-size: 64px;
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
            margin: 10px 0;
            letter-spacing: -3px;
        }
    }
}